.textField {
  flex-basis: 200,
}

.nameField, .userNameField, .emailField, .passwordField, .confirmPasswordField {
  width: 100%;
}

.card {
  min-width: 275,
}

.loginCard {
  width: 350px;
  margin: 25px;
}

.rightButton {
  float: right;
}
